<html>
	<head>
		<meta charset="utf-8"/>
		<title>Statistics information</title>
		<style>
			table{
				border-collapse: collapse;
				border: solid 2px;
				margin: 5px;
			}
			td{
				padding: 5px;
				border: solid 1px;
			}
			thead{
				font-weight: bold;
			}
			thead td:hover{
				color: red;
				cursor: pointer;
			}
		</style>
		
	</head>
	<body>
		Last login in: {{ last_login }}
		<br>
		<h2>User list:</h2>
		<table>
			<thead>
				<tr>
					<td onclick='sortTable(0)'>#</td>
					<td onclick='sortTable(1)'>Name</td>
					<td onclick='sortTable(2)'>Id</td>
					<td onclick='sortTable(3)'>Requests</td>
					<td onclick='sortTable(4)'>Last request</td>
				</tr>
			</thead>
			<tbody id='sort_table'>
				{% for user in users %}
					<tr>
						<td>{{ user.num }}</td><td>{{ user.name }}</td><td>{{ user.id }}</td><td>{{ user.req }}</td><td>{{ user.last }}</td>
					</tr>
				{% endfor%}
			</tbody>
		</table>
		<script>
			function sortTable(count){
				var tbody = document.getElementById('sort_table');
				var rows = []
				for(var i = tbody.children.length-1; i>=0; i--){
					var child = tbody.children[i];
					tbody.removeChild(child);
					rows.push(child)
				}
				
				if(count == 0 || count == 2 || count ==3){
					rows.sort(function (a,b){
						var tmp = parseInt(a.children[count].innerHTML)-parseInt(b.children[count].innerHTML);
						return -tmp;
					})
				}else if(count==4){
					rows.sort(function (a,b){
						return - (Date.parse(a.children[count].innerHTML) - Date.parse(b.children[count].innerHTML));
					})
					
				}else{
					rows.sort(function (a,b){
						return a.children[count].innerHTML>b.children[count].innerHTML?1:a.children[count].innerHTML<b.children[count].innerHTML?-1:0;
					});
				}
				
				for(var i = 0; i<rows.length; i++){
					tbody.appendChild(rows[i]);
				}
				
			}
		</script>
	</body>
</html>
