<html>
<head>
    <meta charset="utf-8"/>
    <title>Добро пожаловать в отдел разработки</title>
</head>
<body>
<h1>Добро пожаловать в отдел разработки!</h1>
{% for r in rests %}
    <h2>Ресторан {{ r.1 }}</h2>
    <ol>
        {% for gp in r.2 %}
            <li><a href="{% url 'dev:group' rest=r.0 name=gp.group_name %}">{{ gp.group_name }}
                - {{ gp.average_price }}</a></li>
        {% endfor %}
    </ol>
    <h3><a href="{% url 'dev:order' rest=r.0 sum=150 %}">Пробный заказ</a></h3>
{% endfor %}


</body>
</html>
